@model PaginatedList<News.Web.Models.Article>

@{
	ViewData["Title"] = "Food";
    //var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    //var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var lisfood = (List<News.Web.Models.Article>)ViewBag.FoodArticle;
}
<!--================ Hero sm Banner start =================-->
<section class="mb-30px">
    <div class="container">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>Category Page</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Category Page</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--================ Hero sm Banner end =================-->
<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
                
            @foreach (var item in lisfood)
            {
                <div class="col-md-4">
                    <div class="single-recent-blog-post card-view">
                        <div class="thumb">
                            <img class="card-img rounded-0" src="@item.Picture" alt="">
                            <ul class="thumb-info">
                                <li><a href="#"><i class="ti-user"></i>@item.Author</a></li>
                                <li><a href="#"><i class="ti-heart"></i>@item.TotalLike likes</a></li>
                            </ul>
                        </div>
                        <div class="details mt-20">
                            <a  asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">
                                <h3>
                                    @item.Title
                                </h3>
                            </a>
                            <p>@item.Summary</p>
                            <a class="button" asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" >Read More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }
         


               
            </div>
    </div>

</section>
<!--================ End Blog Post Area =================-->